<form action="/sessions" method="POST">
  <div class="flash"><%= flash[:login_notice] if flash[:login_notice] %></div>
  	<label for="username">Username</label>
  	<input type="text" name="username" id="username">
  	<label for="password">Password</label>
  	<input type="password" name="password" id="password">
  	<button type="submit">Submit</button>
    <button type="submit"><a href="/signup">Sign up</a></button>
</form>

<!-- Moved to landing page. Try not to redirect here! -->