html, body {
	height: 100%;
	width: 100%;
}

#app_name {
	color:white;
	font-size: 45px;
}

.row.container {
	background-image: url("http://img03.deviantart.net/8a84/i/2013/070/7/2/girl_reading_by_zumadrian-d5xof31.jpg");
	background-size: 100%;
	min-height: 100%;
	min-width: 100%;
}

.filler {
	min-width: 12px;
	min-height: 12px;
}

#submit {
  color: green;
}


/* Market CSS*/

.glyphicon.glyphicon-star {
    font-size: 20px;
    color: red;
}

.media-heading.title {
	font-weight: bold;
}

.media-heading.author {
	font-style: italic;
}

ul {
	list-style-type: none;
}

ul.books {
	columns: 3;
	margin-top: 5%;
}

li.book {
	display: inline-block !important;
	vertical-align: top;
	float: none !important;
	padding: 2em;
	overflow: hidden;
}

img {
	max-height: 175px;
	max-height: 120px;
	overflow: hidden;
}

.btn.btn-link {
	font-weight: bolder;
	font-size: 18px;
	padding: 0;

}

.market {
  margin-top: 5%;
}

/* User*/

.user {
  top: 50%;
  width: 35%;
  height: 100%;
  float: left;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 2%;
}

#user {
  font-style: italic;
  font-family: Verdana;
  font-size: 30px;
  color: blue;
}

.borrowed {
  margin-top: 10%;
}

/* Signup*/

.signup {
  margin-top: 5%;
}

/*Reupload Modal*/
.modal.reupload {
    z-index: 1500;
}
