<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
	          <a class="navbar-brand" id="app_name" href="#">bookShare</a>
	  </div>
	    <div id="navbar" class="navbar-collapse collapse">
	    <ul>
	    	<li class="navbar-left">
          <form method="get" action="/books">
                <button type="submit" class="btn btn-success navbar-btn" >Home</button>
            </form>
        </li>

	    	<li class="navbar-right">
	    		<form method="get" action="/logout">
	            	<button type="submit" class="btn btn-success navbar-btn" >Logout</button>
	        </form>
	    	</li>
	    </ul>    
	  </div><!--/.navbar-collapse -->
	</div>
</nav>

<div class="borrowed">
	<p id="user"> Hi <%= @user_email %>! </p>

	<h3> You have shared <%= @my_shared_books %> books </h3>
	<h3> You currently have <%= @my_books_borrowed_count %> borrowed books </h3>

</div>

<ul class="books">
	<% if @my_books_borrowed_hash.empty? %>
		<p> Sorry but you do not have any borrowed books!</p>
	<% else %>
		<% @my_books_borrowed_hash.each do |book| %>
			<% b = book.book_id %>
			<% @books.each do |book1| %>
				<% if b == book1.id %>
					<%= erb :"books/_bookinfo", locals: { book: book1, button_name: @button_name } %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
</ul>

