
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
		          <a class="navbar-brand" id="app_name" href="#">bookShare</a>
		    </div>
		    <div id="navbar" class="navbar-collapse collapse">
		    <ul>
		    	
		    	<li class="navbar-right">
		    		<form method="get" action="/logout">
		            	<button type="submit" class="btn btn-success navbar-btn" >Logout</button>
		        </form>
		    	</li>
		    </ul>
		    	
		        
		    </div><!--/.navbar-collapse -->
		</div>
	</nav>
	<div class="jumbotron back">
		<div class="column">
			<form method="post" action="/books">
				Title:<br>
				<input type="text" class="field" name="title" required><br>
				Author:<br>
				<input type="text" class="field" name="author" required><br>
				Genre:<br>
				<div class="field">
					<select type="text" name="genre" id="genre">
						<option value="Science Fiction">
							Science Fiction
						</option>
						<option value="Satire">
							Satire
						</option>
						<option value="Drama">
							Drama
						</option>
						<option value="Action & Adventure">
							Action & Adventure
						</option>
						<option value="Romance">
							Romance
						</option>
						<option value="Mystery">
							Mystery
						</option>
						<option value="Horror">
							Horror
						</option>
						<option value="Self Help">
							Self Help
						</option>
						<option value="Educational">
							Educational
						</option>
						<option value="Religious">
							Religious
						</option>
					</select><br>
				</div>
				Photo URL:<br>
				<input type="url" class="field" name="url" required>
			</div>
			<div class="column">
				Rating:<br>
				<div class="field">
					<span class="rating">
						<input type="radio" class="rating-input"
						id="rating-input-1-5" name="rating" value="5"/>
						<label for="rating-input-1-5" class="rating-star"></label>
						<input type="radio" class="rating-input"
						id="rating-input-1-4" name="rating" value="4" />
						<label for="rating-input-1-4" class="rating-star"></label>
						<input type="radio" class="rating-input"
						id="rating-input-1-3" name="rating" value="3" />
						<label for="rating-input-1-3" class="rating-star"></label>
						<input type="radio" class="rating-input"
						id="rating-input-1-2" name="rating" value="2" />
						<label for="rating-input-1-2" class="rating-star"></label>
						<input type="radio" class="rating-input"
						id="rating-input-1-1" name="rating" value="1" />
						<label for="rating-input-1-1" class="rating-star"></label>
					</span>
				</div><br>
				Review:<br>
				<textarea name="review" class="field" rows="9" required></textarea>
			
		</div>
		<div class="column claim-container">
			<input type="submit" value="Submit">
		</div>
		</form>
	</div>
