<!DOCTYPE html>
<html>
  <head>
    <title>Community Market</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/market.css">
  </head>
  <body>
    
    <% @posts.each do |post|%>
    <div class="jumbotron book-back">
      <div class="column book-info">
        <a href="#" class="pull-left book-thumbnail" >
          <img src="https://jlongroadmedia.files.wordpress.com/2013/12/catchingfire.jpg" alt="..." class="book-pic">
        </a>
        <h1><%= post.book.title %><small> (<%= post.book.author %>)</small></h1>
        <% (0...post.rating).each do  %>
        &#9733
        <% end %>
        <p><%= post.review %></p>
      </div>
      <div class="column claim-container">
        <a class="btn btn-primary btn-lg claim" href="#" role="button">Claim Book</a>
      </div>
    </div>
    <% end %>
  </div>
</body>
</html>