<!DOCTYPE html>
<html>
  <head>
    <title>Community Market</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/market.css">
  </head>
  <body>
    
    <div class="jumbotron book-back">
      <!-- <div class="row"> -->
      <div class="column book-info">
        <a href="#" class="pull-left book-thumbnail" >
          <img src="https://jlongroadmedia.files.wordpress.com/2013/12/catchingfire.jpg" alt="..." class="book-pic">
        </a>
        <h1>Book Title<small> (Author)</small></h1>
        <p>&#9733 &#9733 &#9733</p>
        <p>nyo County is a county located in the U.S. state of California. As of the 2010 census, the population was 18,546.[5] The county seat is Independence.[6] Inyo County is located on the east side of the Sierra Nevada and southeast of Yosemite National Park in Central California. It contains the Owens River Valley; it is flanked to the west by the Sierra Mountains and to the east by the White Mountains and the Inyo Mountains. Mount Whitney, the highest peak in the Contiguous United States, is on Inyo County's western border (with Tulare County). The Badwater Basin in Death Valley National Park, the lowest place in North America, is in eastern Inyo County. The two points are not visible from each other, but both can be observed from the Panamint Range on the west side of Death Valley, above the Panamint Valley. It has the biggest altitude difference of all of the counties and county-equivalents in the contiguous U.S.A.</p>
      </div>
      <div class="column claim-container">
        <a class="btn btn-primary btn-lg claim" href="#" role="button">Claim Book</a>
      </div>
    </div>
  </div>
</body>
</html>